body {
    color: #ffd700;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 1em;
}

.logo { 
    height: 300px;
    width: 100%;
}

.logo img {
    width: 250px;
    height: auto;
}

.winner {
    color: white;
}

#startScreen {
    min-height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 20px;
    color: #ffd700;
}

#game{
    margin: auto;
    height: auto;
}

.ctr {
    margin: 0 auto;
    text-align: center;
    color: #ffd700;
}

.bg-trans {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}


.vs {
    padding-top: 5%;
    color: white;
    size: 200%;
}

.btn {
    text-align: center;
    color: white !important;
    
}

#message {
    font-size: 1.2em;
}

#winner {
    padding-top: 20%;
    text-align: center;
    font-size: 3em;
}

#winnerMsg {
    color: white;
}